In [2]:
# List definition
l1=[1,5.34,[1,"arj",21],9+8j,(1,"ashish",20),{1:"arj",2:"ashish"},{1,24,2}]
print(l1,type(l1),sep=",")
for x in l1:
    print(x,type(x),sep=",")

[1, 5.34, [1, 'arj', 21], (9+8j), (1, 'ashish', 20), {1: 'arj', 2: 'ashish'}, {24, 1, 2}],<class 'list'>
1,<class 'int'>
5.34,<class 'float'>
[1, 'arj', 21],<class 'list'>
(9+8j),<class 'complex'>
(1, 'ashish', 20),<class 'tuple'>
{1: 'arj', 2: 'ashish'},<class 'dict'>
{24, 1, 2},<class 'set'>

In [4]:
# List can have heterogenous elements
l2=[1,4+5j,(1,2,5),[1,23],{"Gautam":"Arjun","DOB":1,"Marks":99}]
for x in l2:
    print(x,type(x),sep=",")

1,<class 'int'>
(4+5j),<class 'complex'>
(1, 2, 5),<class 'tuple'>
[1, 23],<class 'list'>
{'Gautam': 'Arjun', 'DOB': 1, 'Marks': 99},<class 'dict'>

In [5]:
# How to access list elements
# can be accessed using index
print(id(l2))
for i in range(len(l2)):
    print(l2[i],id(l2[i]),sep=",")
print(l2[-3]) # negative index: len(list)+neg_index: pos_index of that element

1572336710912
1,140731781088168
(4+5j),1572343065712
(1, 2, 5),1572336735424
[1, 23],1572336706944
{'Gautam': 'Arjun', 'DOB': 1, 'Marks': 99},1572343369600
(1, 2, 5)

In [ ]:
l3=[1,3,5,33,53,19]
for i in range(len(l2)):
    print(l3[i],id(l3[i]),sep=",")
input()
del l3[3]
for i in range(len(l2)):
    print(l3[i],id(l3[i]),sep=",")

In [ ]:
# How to insert elements in a list
l4=[1,3,4,5]    
l4.append(7)
print(l4)
l4.insert(2,2) # insert(index,value) if index_val>len(list) --> similar to append
print(l4)

In [ ]:
# Packing and Unpacking
a=12
b="Arjun"
c=4+5j
d=True
l=[a,b,c,d] # Packing
print(l,type(l),sep=",")

In [ ]:
l=[1,8+7j,True,"arj"]
a,b,c,d=l # Unpacking   Precaution: The no. of variable in LHS=no. values inside list
print(a,b,c,d,sep=",")

In [ ]:
# Builtin Mehtods
l=[1,3,32,38,193,3818]  
print(min(l))
print(max(l))
print(sum(l))
print(sorted(l))
print(len(l))

In [ ]:
l=["arjun","brijesh","aditya","anshika","anushka","anuj"]  # compare lexicographically 
print(max(l))
print(min(l))
print(sorted(l))

In [ ]:
l=[[1,2],[1,2,3],[87,98,62],[0,1,32,421,82]]
print(max(l))
print(min(l))
print(sorted(l))

In [42]:
# Typecasting: list() builtin function: convert the arg into list class object
a="arjun"
b=1 # will generate error  list() can only take iterabales as argument
c=(1,2,3,4)
d={'a':98,'b':82,'c':"arjun",'d':True}
l5=[a,b,c,d]
for x in l5:
    print(type(x),end="\t")
for x in l5:
    list(x)
    print(f"{x}:{type(x)}")

<class 'str'>	<class 'set'>	<class 'tuple'>	<class 'dict'>	arjun:<class 'str'>
{1, 2, 3}:<class 'set'>
(1, 2, 3, 4):<class 'tuple'>
{'a': 98, 'b': 82, 'c': 'arjun', 'd': True}:<class 'dict'>

In [52]:
# Comparison of lists
""" --> two list can be compared if they containg elements at corresponding indexes comparable
--> here comparison is done element by element and comparison when first difference occurs """
l1=["arjun",23,743]
l2=["arjun",743,23]
print(l2>l1)
print(l2==l1) # `==` check both list have same elements at same index
print(l2!=l1)

True
False
True

In [54]:
l3=["arjun",23,743]
print(id(l1),id(l2),sep="\t")

2768527313408	2768527184320

In [57]:
# Concatenation:l1+l2--> l2 gets appended to l1 and new modified list is created
l4=l1+l2
print(l4)
l4=l1*3
print(l4)

['arjun', 23, 743, 'arjun', 743, 23]
['arjun', 23, 743, 'arjun', 23, 743, 'arjun', 23, 743]

In [63]:
# Nested List
l=[[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]
print(l)
print(l[0])
print(l[0][1])
print(l[0][1][2])
print(l[1][0][0:3:2])

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]
[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
6
[7, 9]

In [13]:
# Slicing Operator:[start:stop:step] start:inclusive,stop:exclusive,step
l=[10,40,50,60,70]
l1=l[: :-2]
print(l1)

[70, 50, 10]

In [5]:
n = int(input("Enter the number of elements: "))  # Input: 3
my_list = [input(f"Enter element {i + 1}: ") for i in range(n)]
print(my_list)

['20', '10', '20']

In [4]:
for x in l:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [76]:
# List object methods
l=[1,482,3891,"arj",3891,2,182,"arj","ash",1,173,1]
# 1. remove(arg): remove first occurence of arg
l.remove(1) # return:None
print(l)
# 2. coutn(arg): count no. of occurences of arg
print(l.count("arj")) # return:int value
# 3.pop(index): remove the value at index and return it's value  # default index: last index if not passed
print(l.pop(2)) # return: value
print(l)
# 4.reverse():reversed list  
l.reverse() # return:None
print(l)
# 5.sort(): sort the same list
#l.sort() # only able sort if all elements can be compared with each other without TypeError
# 6.index(value):return the index of first occurence of value
print(l.index(182))
# 7. clear(): clear the list completely and create an empty list
l.clear() # return:None
print(l)

[482, 3891, 'arj', 3891, 2, 182, 'arj', 'ash', 1, 173, 1]
2
arj
[482, 3891, 3891, 2, 182, 'arj', 'ash', 1, 173, 1]
[1, 173, 1, 'ash', 'arj', 182, 2, 3891, 3891, 482]
5
[]

In [79]:
# List Comprehension
# Syntax:[expression for x in iterable]
l=[x**2 for x in range(11)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
# User Inpur
# M1:
inp=input("Enter a list")
l=list(inp) # consider every character of string as an element
print(l)

['1', '3', '4', 'a', 'r', 'j', 'u', 'n', '4']

In [87]:
# M2
l=[]
n_inp=int(input("No. of inputs"))
for x in range(n_inp):
    inp=eval(input("Enter the element:"))
    l.append(inp)

print(l)

[1, True, (1, 2, 3), 'arjun']

In [ ]:
# M3
l=eval(input("Enter a list")) #type input [elemen1,element2...]
print(l)
for x in l:
    print(x,type(x),sep="\t")

[1, True, (3+4j), 'arju', (1, 2, 3), [1, 32]]
1	<class 'int'>
True	<class 'bool'>
(3+4j)	<class 'complex'>
arju	<class 'str'>
(1, 2, 3)	<class 'tuple'>
[1, 32]	<class 'list'>

In [91]:
a=64
print(hash(a))

64