In [1]:
#Q1.Write a python program to create and print a dictionary which stores your information.(name, age, gender â€¦..)
di={"name":"Ryan",'age':20,"gender":"male","DOB":"5/8/20"}
print(di)

{'name': 'Ryan', 'age': 20, 'gender': 'male', 'DOB': '5/8/20'}

In [11]:
"""Q2.Write a python program to get the key of lowest value from the dictionary.
sample_dict = {'C': 92,'Java': 66,'Python': 85}"""
d = {'C': 92,'Java': 66,'Python': 85}
d2=d.items()
d3=sorted(d2,key=lambda x:x[1])
print("key of lowest value:",d3[0][0])

#M-2
min_key=min(d,key=d.get)
print("M-2 min key according to value:",min_key)
#M-3
d4={v:k for k,v in d2}
print(d4)
mk=min(d4)
print("M-3 min key:",d4[mk])

key of lowest value: Java
M-2 min key according to value: Java
{92: 'C', 66: 'Java', 85: 'Python'}
M-3 min key: Java

In [12]:
#Q3.Write a python program to access the items of a dictionary by referring to its key name.
d = {'C': 92,'Java': 66,'Python': 85}
for k in d:
    print(d[k])

92
66
85

In [13]:
#Q4.Write a python program to get a list of the values from a dictionary.
d = {'C': 92,'Java': 66,'Python': 85}
l=[d[k] for k in d]
print("List of values:",l)

List of values: [92, 66, 85]

In [14]:
# Q5.Write a python program to change the value of a specific item by referring to its key name.
d = {'C': 92,'Java': 66,'Python': 85}
d['C']=101
print(d)

{'C': 101, 'Java': 66, 'Python': 85}

In [15]:
#Q6.Write a python program to print all key names in the dictionary, one by one.
d = {'C': 92,'Java': 66,'Python': 85}
for k in d:
    print(k)

C
Java
Python

In [17]:
#Q7. Write a python program to create a dictionary that contains three dictionaries.(nested)
# Creating three individual dictionaries
d1 = {'name': 'Arjun', 'age': 18, 'gender': 'male'}
d2 = {'name': 'Ashish', 'age': 19, 'gender': 'male'}
d3 = {'name': 'Suhana', 'age': 18, 'gender': 'female'}

# Nesting the dictionaries within another dictionary
nd = {'d1': d1, 'd2': d2, 'd3': d3}

# Printing the nested dictionary
print(nd)

{'d1': {'name': 'Arjun', 'age': 18, 'gender': 'male'}, 'd2': {'name': 'Ashish', 'age': 19, 'gender': 'male'}, 'd3': {'name': 'Suhana', 'age': 18, 'gender': 'female'}}

In [18]:
# Q8.Write a python program to create three dictionaries, then create one dictionary that Contain three individual dictionaries
d1 = {'name': 'Arjun', 'age': 18, 'gender': 'male'}
d2 = {'name': 'Ashish', 'age': 19, 'gender': 'male'}
d3 = {'name': 'Suhana', 'age': 18, 'gender': 'female'}

# Nesting the dictionaries within another dictionary
nd = {'d1': d1, 'd2': d2, 'd3': d3}

# Printing the nested dictionary
print(nd)

{'d1': {'name': 'Arjun', 'age': 18, 'gender': 'male'}, 'd2': {'name': 'Ashish', 'age': 19, 'gender': 'male'}, 'd3': {'name': 'Suhana', 'age': 18, 'gender': 'female'}}

In [22]:
#Q9. Write a python program to convert two lists into a dictionary in a way that item from list1 is the key and item from list2 is the value
#M-1
l1 = [101, 102, 103, 104]
l2 = ["Arjun", "Karan", "Raj", "Sneha"]

# Initialize an empty dictionary
d = {}

# Iterate through both lists simultaneously using range and len
for i in range(len(l1)):
    d[l1[i]] = l2[i]

print(d)

#M-2
l1 = [101, 102, 103, 104]
l2 = ["Arjun", "Karan", "Raj", "Sneha"]

# Using zip to pair the items from l1 and l2
d = {k: v for k, v in zip(l1, l2)}

print(d)

{101: 'Arjun', 102: 'Karan', 103: 'Raj', 104: 'Sneha'}
{101: 'Arjun', 102: 'Karan', 103: 'Raj', 104: 'Sneha'}

In [32]:
#Q10.Write a python program to merge two python dictionaries into one dictionary
#M-1
d1={101:"Raj",102:"Arun"}
d2={103:"Sneha",104:"Chelsi"}
d3={}
d3.update(d1)
d3.update(d2)
print(d3)
#M-2
# Example dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {'e': 5, 'f': 6}

# Combine dictionaries using dictionary unpacking
combined_dict = {**d1, **d2, **d3}

print(combined_dict)

#m-3

# Example dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {'e': 5, 'f': 6}

# Combine dictionaries using the | operator
combined_dict = d1 | d2 | d3

print(combined_dict)

{101: 'Raj', 102: 'Arun', 103: 'Sneha', 104: 'Chelsi'}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}