In [2]:
#Q1.Write a python program to store all the programming languages known to you using Set.
s={"Java","C","C++","Python","Flutter","Dart","Javascript","Pearl","Kotlin","Go","Rust","Matlab"}
print("Set:",s)

Set: {'C', 'Matlab', 'Java', 'Flutter', 'Kotlin', 'Go', 'C++', 'Python', 'Pearl', 'Javascript', 'Rust', 'Dart'}

In [3]:
#Q2.Write a python program to store your own information {name, age, gender, so on..}
s={"Ryan Reynold",48,'male'}
print(s)

{48, 'Ryan Reynold', 'male'}

In [4]:
#Q3.Write a python script to get the data type of a Set.
s={"Ryan Reynold",48,'male'}
print(s,type(s))

{48, 'Ryan Reynold', 'male'} <class 'set'>

In [15]:
#Q4.Write a Python script to find if “Python” is present in the set thisset = {"Java","Python", "Django"}
s={"Java","Python", "Django"}
if "Python" in s:
    print("Python is present in set:",s)
else:
    print("Python is not present in set:",s)

Python is present in set: {'Python', 'Django', 'Java'}

In [17]:
"""Q5.Write a python program to add items from another set to the current set. 
thisset ={"Java", "Python", "SQL"}    secondset= {"C", "Cpp", "NoSQL"}"""
thisset ={"Java", "Python", "SQL"}    
secondset= {"C", "Cpp", "NoSQL"}
u=thisset.union(secondset)
print(u)

{'Python', 'C', 'NoSQL', 'Java', 'SQL', 'Cpp'}

In [18]:
"""Q6.Write a python program to add elements of list to a set
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]"""
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]
for x in mylist:
    thisset.add(x)
print("Updated set:",thisset)

Updated set: {'C', 'Java', 'Python', 'Django', 'JavaScript'}

In [19]:
"""Q7.Write a python program to remove last item of the given set
thisset = {"Python", "Django", "JavaScript", “SQL”}"""
thisset = {"Python", "Django", "JavaScript", "SQL"}
thisset.pop()
print(thisset)

{'SQL', 'Django', 'JavaScript'}

In [20]:
#Q8.Write a python program to delete the set completely.
s={1,3+4j,9.39,"Arj"}
s.clear()
print(s)

set()

In [21]:
#Q9.Write a python program to loop through the set and print values
thisset = {"Python", "Django", "JavaScript", "SQL"}
for x in thisset:
    print(x)

Python
SQL
Django
JavaScript

In [22]:
#Q10.Write a python program to find the maximum and minimum value in a set
s={1,24,202,193,302,1032}
print(f"Max:{max(s)}")
print("Min:",min(s))

Max:1032
Min: 1