In [1]:
"""Q1.Write a python script to store multiple items in a single variable ( Items are “Java”
,“Python”, “SQL”, “C” ) using tuple"""
t="Java","Python","SQL","C",
print(t,type(t))

('Java', 'Python', 'SQL', 'C') <class 'tuple'>

In [3]:
#Q2. Write a python program to store only one item using tuple.
t=("Arjun",)
print(t,type(t))

('Arjun',) <class 'tuple'>

In [5]:
#Q3.Write a python program to reverse the tuple.
t=tuple("Arjun")
print("Original tuple:",t)
print("Reversed Tuple:",t[::-1])

Original tuple: ('A', 'r', 'j', 'u', 'n')
Reversed Tuple: ('n', 'u', 'j', 'r', 'A')

In [6]:
#Q4. Write a python program to Swap two tuples in Python.
a=tuple("Arjun")
b=tuple("Gautam")
print(f"Before swipe:a={a} and b={b}")
a,b=b,a
print(f"After swipe:a={a} and b={b}")

Before swipe:a=('A', 'r', 'j', 'u', 'n') and b=('G', 'a', 'u', 't', 'a', 'm')
After swipe:a=('G', 'a', 'u', 't', 'a', 'm') and b=('A', 'r', 'j', 'u', 'n')

In [9]:
#Q5. Write a python program to check if all items in the tuple are the same.
t=tuple([eval(x) for x in (input().split(','))])
if len(set(t))==1:
    print("All items in tuple are same",t)
else:
    print("All item are not same",t)

All item are not same (1, 2, 3, 3, 'Arjun')

In [11]:
"""Q6.Write a python program to divide the tuple into four variables.
tuple1=(100, 200, 300, 400)"""
t=(100,200,300,400)
a,b,c,d=t
print(a,b,c,d,sep='\n')

100
200
300
400

In [13]:
"""Q7.Write a python program to copy elements 4 and 5 from the following tuple into a new
tuple. tuple1=(1,2,3,4,5,6)"""
tuple1=(1,2,3,4,5,6)
t2=tuple1[3:5:1]
print(t2)

(4, 5)

In [16]:
"""Q8.Write a python program to Sort a tuple of tuples by the second item.
tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))"""
tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))
t2=tuple(sorted(tuple1, key=lambda x:x[1]))
print(f"sorted tuple:{t2}")

sorted tuple:(('c', 11), ('a', 21), ('d', 29), ('b', 37))

In [19]:
"""Q9.Write a python program to print the value 20 from given nested tuple
t3 = ("Python", [10, 20, 30], (2, 4, 16))"""
t3 = ("Python", [10, 20, 30], (2, 4, 16))
print(t3[1][1])

20

In [21]:
"""Q10.Write a python program to change the first item (22) of a list within the following tuple
to 222.tuple1 = (11, [22, 33], 44, 55)"""
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print("Updated tuple:",tuple1)

Updated tuple: (11, [222, 33], 44, 55)