In [3]:
# How to declare strings
str1="arjun"
str2='arj'
str3='''arjun    
gautam'''# ''' ''' """ """ allow multiline string initialisation and use of double qoutes
str4="""arjun's mother name is "Sheetal Gautam" """
str5=str() # empty string
str6=str([1,2,3,4])
print(str1,str2,str3,str4,str6,sep="\n")

arjun
arj
arjun
gautam
arjun's mother name is "Sheetal Gautam"
[1, 2, 3, 4]

In [11]:
# builtin methods
str="arj@dev1"
# 1. min() : compares stirng characters by their ASCII values
print(min(str))
print(ord('1'),ord('v'),sep=",")
print(max(str))
print(sorted(str)) # return a list of sorted characters according to their ascii values

1
49,118
v
['1', '@', 'a', 'd', 'e', 'j', 'r', 'v']

In [13]:
# Concatenation and repeatition
s1="username:"
print(s1+str)
print(str*3)

username:arj@dev1
arj@dev1arj@dev1arj@dev1

In [19]:
# Comparison
""" Strings are compare Lexicographically character by character using ASCII values until first difference """
s2="Ram"
s3="bharat"
s4="Bharat"
print(ord('R'),ord('b'),ord('B'),sep="\t")
print(s3>s2) # ord('b')>ord('R')
print(s4>s2) # ord('B')<ord('R')

82	98	66
True
False

In [32]:
# String Methods
s="Arjun_Gautam"
#1. index(char):return index of first occurence of char
print(s.index('u'))
#2. count(char): no. of occurence in str
print(s.count('u'))
# remove(char):remove first occurence 
print(s.startswith("Arj"))
print(s.endswith("taM"))
print(s.isalnum())
print(s.isalpha())
print(s.isdecimal())
print(s.lower())
print(s.upper())
print(s.isnumeric())

3
2
True
False
False
False
False
arjun_gautam
ARJUN_GAUTAM
False

In [35]:
# format()
s="{},is my name"
print(s.format("Arjun"))
s="{},is my last_name".format("Gautam")
print(s)
s="first_name:{1},last_name:{0}"
print(s.format("Gautam","Arjun"))

Arjun,is my name
Gautam,is my last_name
first_name:Arjun,last_name:Gautam

In [37]:
# split and join
s="Arjun,Ashish,Bhoumik,Abhishek"
print(s)
print(s.split(",")) 
s1="Arjun"
s2="Gautam"
print(' '.join([s1,s2]))

Arjun,Ashish,Bhoumik,Abhishek
['Arjun', 'Ashish', 'Bhoumik', 'Abhishek']
Arjun Gautam